@model KelimeUzmani.Entity.Word
<div class="row" style="margin:auto;">
    <div class="worddisplay">
        @Model.WordBody
    </div>
</div>

<div class="row" style="margin:auto;">
    @Model.Description
</div>


<div>
    <a href="#" class="btn btn-danger"><i class="fa fa-arrow-left"></i></a>
    <a href="#" class="btn btn-danger"><i class="fa fa-arrow-right"></i></a>
</div>