@model IEnumerable<KelimeUzmani.Entity.WordList>

<h3 class="pageTitle">Listeler</h3>
<p id="toolbar">
    <a class="btn btn-primary" data-toggle="collapse" href="#listeEkle" aria-expanded="false" aria-controls="listeEkle">
        <i class="fa fa-plus"></i>
    </a>
</p>
<div class="collapse" id="listeEkle">
    <div class="input-group">
        <input type="text" class="form-control" id="txtName">
        <span class="input-group-btn">
            <button class="btn btn-outline-warning" type="button" onclick="Ekle()"><i class="fa fa-plus-circle"></i> Ekle</button>
        </span>
    </div>
</div>

        <div id="listPart">
            @Html.Partial("ListView")
        </div>





<div id="result">

</div>
<script>
    function Ekle() {
        var name = $("#txtName").val();

        $.ajax({
            url: '@Url.Action("SaveList", "Lists")',
            type: "POST",
            cache: false,
            async: false,
            data: { name: name },
            success: function (text, data) {
                $("#listPart").html(text);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
    }

</script>
