<div class="alert alert-success alertdiv"  id="messageDiv">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewData["Message"]
</div>

<script>
    $("#messageDiv").animate({ "right": "10px" }, "slow");
</script>
