@*<div class="float-right">
        <a href="javascript:void(0)" onclick="this.parentElement.style.display='none'">X</a>
    </div>*@
<h6 class="altList">Listeye Kelime Ekle</h6>
<div>
    <div class="input-group">
        <input type="text" class="form-control" id="txtSearchWord_@ViewBag.ID" placeholder="aranacak kelimeyi giriniz...">
        <span class="input-group-btn">
            <button class="btn btn-outline-warning btn-sm" type="button" onclick="search()"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>



<script>
    function search() {
        var textName="#txtSearchWord_" + @ViewBag.ID;

        var text = $(textName).val();

        var resultDiv = "#result_" + @ViewBag.ID;

        var isVisible = $(resultDiv).is( ":visible" );

        $.ajax({
            url: '@Url.Action("SearchWord", "Word")',
            type: "POST",
            cache: false,
            async: false,
            data: { searchText: text ,listID:@ViewBag.ID },
            success: function (text, data) {
                $(resultDiv).html(text);
                $(resultDiv).slideDown();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("bir hata oluştu");
            }
        });
    }
</script>